50.work/_review-temp/zip-beispiel-1/Workflows/03_V2-rrpt-XLSXGenerierung-DDADF862-985A-F111-BEC6-7CED8D40C600.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "rrpt_sharedcommondataserviceforapps_ea3e3"
        },
        "runtimeSource": "embedded"
      },
      "shared_excelonlinebusiness": {
        "api": {
          "name": "shared_excelonlinebusiness"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedexcelonlinebusiness_09fb5"
        },
        "runtimeSource": "invoker"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_160e1"
        },
        "runtimeSource": "invoker"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "rrpt_sharedoffice365_d4beb"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "Umgebung (rrpt_Umgebung)": {
          "defaultValue": "Sandbox",
          "type": "String",
          "metadata": {
            "schemaName": "rrpt_Umgebung",
            "description": "Sandbox oder Produktion"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Geben Sie Ihre Eingabe ein.",
                  "title": "RegiekopfID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Geben Sie Ihre Eingabe ein.",
                  "title": "BaustelleID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Geben Sie Ihre Eingabe ein.",
                  "title": "ArbeitsbeschriebID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Geben Sie Ihre Eingabe ein.",
                  "title": "E-Mail",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "f45d75c3-0a51-4ee9-b8b6-77ceb140baee"
          }
        }
      },
      "actions": {
        "Variable_initialisieren_-_Ablagestruktur_Ordner": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Ablagestruktur Ordner",
                "type": "string"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1585d791-f763-4164-a223-8be360c5fe69"
          }
        },
        "Variable_initialisieren_-_email": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "E-Mail PL",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Variable_initialisieren_-_Ablagestruktur_Ordner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "57dfa2ab-d722-43cf-ba8a-aaa59d472891"
          }
        },
        "Auf_eine_Power_App_oder_einen_Flow_reagieren": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {}
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "955f5ff8-c26d-4da6-812b-681eb3ded4da"
          }
        },
        "Variable_initialisieren_-_HTML": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "HTML String",
                "type": "string",
                "value": "<html>\n  <head>\n  </head>\n  <body>\n<h2>Anhang: Bilder</h2>\n<p>&nbsp;</p>\n  <table>"
              }
            ]
          },
          "runAfter": {
            "Variable_initialisieren_-_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1dfdccb5-c38c-485d-b9fe-eceecf45c9fc"
          }
        },
        "Variable_initialisieren_-_Filename": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Filename_V2",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "Variable_initialisieren_-_HTML": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e4d0fc4a-e2e7-46f4-a87c-ab3c500990fe"
          }
        },
        "Variable_initialisieren": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PDFCONTENT",
                "type": "boolean"
              }
            ]
          },
          "runAfter": {
            "Variable_initialisieren_-_Filename": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0e49eacd-e55f-4d02-a193-a28b87c15ea0"
          }
        },
        "Variable_initialisieren_-_temp": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "temp",
                "type": "float"
              }
            ]
          },
          "runAfter": {
            "Variable_initialisieren": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2413d56f-8687-4ada-b4d9-108ccf43f171"
          }
        },
        "Variable_initialisieren_-_total_mat": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "total_mat",
                "type": "float"
              }
            ]
          },
          "runAfter": {
            "Variable_initialisieren_-_temp": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0f61b090-c4dc-4b7f-8a20-f7f44fd4f097"
          }
        },
        "Variable_initialisieren_-_total_pers": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "total_pers",
                "type": "float"
              }
            ]
          },
          "runAfter": {
            "Variable_initialisieren_-_total_mat": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "33d8f7d2-7c36-435d-883f-dd84a1ea352c"
          }
        },
        "Variable_initialisieren_-_Total_Rapport": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "total_rap",
                "type": "float"
              }
            ]
          },
          "runAfter": {
            "Variable_initialisieren_-_total_pers": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8f91b4b1-188b-4f2f-811e-4304a0b21695"
          }
        },
        "JSON_analysieren": {
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()?['text']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rrpt_regiekopfid": {
                    "type": "string"
                  }
                },
                "required": [
                  "rrpt_regiekopfid"
                ]
              }
            }
          },
          "runAfter": {
            "Variable_initialisieren_-_Total_Rapport": [
              "Succeeded"
            ]
          }
        },
        "For_each_1": {
          "type": "Foreach",
          "foreach": "@outputs('JSON_analysieren')['body']",
          "actions": {
            "Regiekopf_holen": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "rrpt_regiekopfs",
                  "recordId": "@items('For_each_1')['rrpt_regiekopfid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "metadata": {
                "operationMetadataId": "f8512721-9205-4094-8969-bddf5b08f143"
              }
            },
            "Baustelle_holen": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "rrpt_baustelles",
                  "recordId": "@outputs('Regiekopf_holen')?['body/_cr19a_baustellelookup_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Regiekopf_holen": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "76dbb228-6151-4c05-b038-0724d342899f"
              }
            },
            "Rapportpositionen_holen": {
              "type": "Scope",
              "actions": {
                "Personenzeile": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "rrpt_personenzeilens",
                      "$filter": "_rrpt_regiekopf_value eq '@{items('For_each_1')['rrpt_regiekopfid']}'"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "d20c4796-fdd9-450b-a6ef-8d32d05d363e"
                  }
                },
                "Select_-_Personen": {
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Personenzeile')?['body/value']",
                    "select": {
                      "Person": "@item()?['rrpt_mitarbeiter']",
                      "Anzahl": "@item()?['rrpt_anzahl']",
                      "Mo": "@item()?['rrpt_mo']",
                      "Ansatz": "@float(formatNumber(item()?['rrpt_regieansatz'], 'N2'))",
                      "Total": "@float(formatNumber(item()?['rrpt_personentotal'], 'N2'))",
                      "Dienstag": "@item()?['rrpt_di']",
                      "Mittwoch": "@item()?['rrpt_mi']",
                      "Do": "@item()?['rrpt_do']",
                      "Fr": "@item()?['rrpt_fr']",
                      "Sa": "@item()?['rrpt_sa']",
                      "So": "@item()?['rrpt_so']",
                      "Total Stunden": "@item()?['cr19a_stundentotal']"
                    }
                  },
                  "runAfter": {
                    "Personenzeile": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "88283905-91d4-4ed5-93f9-1fada703be85"
                  }
                },
                "Materialzeile": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "rrpt_materialzeiles",
                      "$filter": "_rrpt_regiekopf_value eq '@{items('For_each_1')['rrpt_regiekopfid']}'"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  },
                  "runAfter": {
                    "Select_-_Personen": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a46a1774-456a-418c-a08f-ca4311dacc3a"
                  }
                },
                "Select_-_Material": {
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Materialzeile')?['body/value']",
                    "select": {
                      "Material": "@item()?['rrpt_materialname']",
                      "Menge": "@item()?['rrpt_menge']",
                      "Materialpreis": "@float(formatNumber(item()?['rrpt_einheitspreis'], 'N2'))",
                      "Total Material": "@float(formatNumber(item()?['rrpt_materialtotal'], 'N2'))",
                      "Einheit": "@item()?['rrpt_einheit']"
                    }
                  },
                  "runAfter": {
                    "Materialzeile": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "e867bf87-a3b2-46be-8d24-6beaec330d6f"
                  }
                },
                "Total_-_Berechnung": {
                  "type": "Scope",
                  "actions": {
                    "Auf_alle_anwenden_-_Person": {
                      "type": "Foreach",
                      "foreach": "@body('Select_-_Personen')",
                      "actions": {
                        "Variable_festlegen": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "temp",
                            "value": "@add(float(variables('total_pers')),item()?['Total'])"
                          },
                          "metadata": {
                            "operationMetadataId": "ff339aeb-8c63-435d-a767-d7196901421f"
                          }
                        },
                        "Variable_festlegen_1": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "total_pers",
                            "value": "@variables('temp')"
                          },
                          "runAfter": {
                            "Variable_festlegen": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1daadf94-f0e9-4af4-aef6-badc07f69ff8"
                          }
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "d49c6f4b-e3eb-423f-8b01-a2da6da7dac2"
                      }
                    },
                    "Total_Person": {
                      "type": "Compose",
                      "inputs": "@variables('total_pers')",
                      "runAfter": {
                        "Auf_alle_anwenden_-_Person": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "caadc051-6da7-45ea-af6d-fefa687fd9fc"
                      }
                    },
                    "Variable_festlegen_-_temp_auf_null": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "temp",
                        "value": 0
                      },
                      "runAfter": {
                        "Total_Person": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8abdc0e0-caec-42f2-82c3-1f349773a2e3"
                      }
                    },
                    "Auf_alle_anwenden_-_Material": {
                      "type": "Foreach",
                      "foreach": "@body('Select_-_Material')",
                      "actions": {
                        "Variable_festlegen_2": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "temp",
                            "value": "@add(float(variables('total_mat')),item()?['Total Material'])"
                          },
                          "metadata": {
                            "operationMetadataId": "dba678e1-9921-48ca-a55e-f64561d75964"
                          }
                        },
                        "Variable_festlegen_4": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "total_mat",
                            "value": "@variables('temp')"
                          },
                          "runAfter": {
                            "Variable_festlegen_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "1dc8afcd-dc5f-4b2a-9800-fdbb37ad99b5"
                          }
                        }
                      },
                      "runAfter": {
                        "Variable_festlegen_-_temp_auf_null": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d13af2ab-596f-4c29-b4ad-85280acb9e57"
                      }
                    },
                    "Total_Material": {
                      "type": "Compose",
                      "inputs": "@variables('total_mat')",
                      "runAfter": {
                        "Auf_alle_anwenden_-_Material": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "0f0b5c23-1abd-4263-982f-e25bb19acae1"
                      }
                    },
                    "Variable_festlegen_Total_rap": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "total_rap",
                        "value": "@add(variables('total_pers'),variables('total_mat'))"
                      },
                      "runAfter": {
                        "Total_Material": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "1603dd69-e5a1-4c59-a606-d1091a026162"
                      }
                    }
                  },
                  "runAfter": {
                    "Select_-_Material": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "009d087c-a980-4aff-80c2-c36efa6ecd6b"
                  }
                }
              },
              "runAfter": {
                "Bedingung_-_Kleinauftrag": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "1fa7fd16-623d-4a18-940e-a5b5fe9a3653"
              }
            },
            "Variable_festlegen_-_Bezeichnung": {
              "type": "SetVariable",
              "inputs": {
                "name": "CheckKleinauftrag",
                "value": "@outputs('Baustelle_holen')?['body/rrpt_bezeichnung']"
              },
              "runAfter": {
                "Baustelle_holen": [
                  "Succeeded"
                ]
              }
            },
            "Bedingung_-_Kleinauftrag": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "contains": [
                      "@outputs('Baustelle_holen')?['body/rrpt_bezeichnung']",
                      "Kleinauf"
                    ]
                  }
                ]
              },
              "actions": {
                "Variable_festlegen_-_Kleinauftrag": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Filename_V2",
                    "value": "@{outputs('Baustelle_holen')?['body/cr19a_baustellennummer']}-@{outputs('Regiekopf_holen')?['body/cr19a_mvmrapportnummer']}-@{replace(outputs('Regiekopf_holen')?['body/cr19a_baustellenbezeichnung'], '/', '_')\n\n}.xlsx"
                  },
                  "metadata": {
                    "operationMetadataId": "3a4934f3-c7ff-46d2-9fff-d58c32388f63"
                  }
                }
              },
              "else": {
                "actions": {
                  "Variable_festlegen_-_no_Kleinauftrag": {
                    "type": "SetVariable",
                    "inputs": {
                      "name": "Filename_V2",
                      "value": "@{outputs('Regiekopf_holen')?['body/cr19a_mvmrapportnummer']}-@{replace(outputs('Baustelle_holen')?['body/rrpt_bezeichnung'], '/', '_')}.xlsx"
                    },
                    "metadata": {
                      "operationMetadataId": "f0f6eb49-e251-4130-816b-301bf2c526e0"
                    }
                  }
                }
              },
              "runAfter": {
                "Variable_festlegen_-_Bezeichnung": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8c9e6179-001c-4dee-8c49-b2e9009237bf"
              }
            },
            "Verfassen_JSON_für_Excel": {
              "type": "Compose",
              "inputs": {
                "Rapport-Nr": "@{outputs('Regiekopf_holen')?['body/cr19a_mvmrapportnummer']}",
                "Personentotal": "@variables('total_pers')",
                "Materialtotal": "@variables('total_mat')",
                "Total": "@variables('total_rap')"
              },
              "runAfter": {
                "Rapportpositionen_holen": [
                  "Succeeded"
                ]
              }
            },
            "Variable_festlegen_-_total_auf_0": {
              "type": "SetVariable",
              "inputs": {
                "name": "total_rap",
                "value": 0
              },
              "runAfter": {
                "Zeile_zu_Tabelle_hinzufügen": [
                  "Succeeded"
                ]
              }
            },
            "Variable_festlegen_-_total_auf_0_pers": {
              "type": "SetVariable",
              "inputs": {
                "name": "total_pers",
                "value": 0
              },
              "runAfter": {
                "Variable_festlegen_-_total_auf_0": [
                  "Succeeded"
                ]
              }
            },
            "Variable_festlegen_-_total_auf_0_mat": {
              "type": "SetVariable",
              "inputs": {
                "name": "total_mat",
                "value": 0
              },
              "runAfter": {
                "Variable_festlegen_-_total_auf_0_pers": [
                  "Succeeded"
                ]
              }
            },
            "Zeile_zu_Tabelle_hinzufügen": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "source": "groups/1853e996-81ec-4b52-b727-a67fe33b56c9",
                  "drive": "b!iO30sdFprkKYUPsW62n6kW2gb20SOn5PvXeXAHQ76cPprFIyfQ5PR6YNU-tw-I9R",
                  "file": "/WorkFlow RegieRapport/Excel-Übersicht/@{outputs('Datei_kopieren')?['body/Name']}",
                  "table": "Tabelle1",
                  "item": "@outputs('Verfassen_JSON_für_Excel')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness",
                  "operationId": "AddRowV2",
                  "connectionName": "shared_excelonlinebusiness"
                }
              },
              "runAfter": {
                "Verfassen_JSON_für_Excel": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "01NAWG7X7EZCRPPXDMU5ELSUKE7R3HF7UZ": "/WorkFlow RegieRapport/Excel-Übersicht/Rapport-Zusammenfassung.xlsx",
                "tableId": "Tabelle1"
              }
            }
          },
          "runAfter": {
            "Bedingung_-_Umgebung": [
              "Succeeded"
            ]
          }
        },
        "Beenden": {
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "runAfter": {
            "Datei_löschen": [
              "Succeeded"
            ]
          }
        },
        "Bedingung_-_Umgebung": {
          "type": "If",
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@parameters('Umgebung (rrpt_Umgebung)')",
                    "Sandbox"
                  ]
                }
              }
            ]
          },
          "actions": {
            "Variable_festlegen_-_RegieRapporteTemp": {
              "type": "SetVariable",
              "inputs": {
                "name": "Ablagestruktur Ordner",
                "value": "RegieRapporteTemp"
              },
              "metadata": {
                "operationMetadataId": "be4d64c4-966f-4d66-8bf3-0ec6172a204f"
              }
            },
            "Variable_festlegen_-_raoul_1": {
              "type": "SetVariable",
              "inputs": {
                "name": "E-Mail PL",
                "value": "@triggerBody()?['text_3']"
              },
              "runAfter": {
                "Variable_festlegen_-_RegieRapporteTemp": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3e127bf4-e667-46e5-a1a1-771e4f4d207f"
              }
            }
          },
          "else": {
            "actions": {
              "Variable_festlegen_-_RegieRapporteTempTest": {
                "type": "SetVariable",
                "inputs": {
                  "name": "Ablagestruktur Ordner",
                  "value": "RegieRapporteTempTest"
                },
                "metadata": {
                  "operationMetadataId": "38f722ff-cf25-4c9c-a750-41f27e88d5f7"
                }
              },
              "Variable_festlegen_-_raoul": {
                "type": "SetVariable",
                "inputs": {
                  "name": "E-Mail PL",
                  "value": "raoul@miraglia-bi.com"
                },
                "runAfter": {
                  "Variable_festlegen_-_RegieRapporteTempTest": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "3e127bf4-e667-46e5-a1a1-771e4f4d207f"
                }
              }
            }
          },
          "runAfter": {
            "Datei_kopieren": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dbe346a1-4f52-430a-b8f1-14d4ef3805f3"
          }
        },
        "Variable_initialisieren_-_Check_Kleinauftrag": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CheckKleinauftrag",
                "type": "string"
              }
            ]
          },
          "runAfter": {
            "JSON_analysieren": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c92a1cd7-f3e8-4344-8b3e-0b30874b29c8"
          }
        },
        "Datei_kopieren": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://mvmag.sharepoint.com/sites/MVMProzesseSandbox",
              "parameters/sourceFileId": "%252fFreigegebene%2bDokumente%252f01_Vorlagen%252fRapport-Zusammenfassung.xlsx",
              "parameters/destinationDataset": "https://mvmag.sharepoint.com/sites/PowerApps",
              "parameters/destinationFolderPath": "/Freigegebene Dokumente/WorkFlow RegieRapport/Excel-Übersicht",
              "parameters/nameConflictBehavior": 2
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "CopyFileAsync",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Variable_initialisieren_-_Check_Kleinauftrag": [
              "Succeeded"
            ]
          },
          "metadata": {
            "%252fFreigegebene%2bDokumente%252f01_Vorlagen%252fRapport-Zusammenfassung.xlsx": "/Freigegebene Dokumente/01_Vorlagen/Rapport-Zusammenfassung.xlsx"
          }
        },
        "E-Mail_senden_(V2)": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "emailMessage/To": "@variables('E-Mail PL')",
              "emailMessage/Subject": "Rapportübersicht",
              "emailMessage/Body": "<p class=\"editor-paragraph\">Anbei die Rapportübersicht</p>",
              "emailMessage/Attachments": [
                {
                  "Name": "@outputs('Datei_kopieren')?['body/Name']",
                  "ContentBytes": "@body('Dateiinhalt_abrufen')"
                }
              ],
              "emailMessage/Importance": "Normal"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "SendEmailV2",
              "connectionName": "shared_office365"
            }
          },
          "runAfter": {
            "Dateiinhalt_abrufen": [
              "Succeeded"
            ]
          }
        },
        "Dateiinhalt_abrufen": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://mvmag.sharepoint.com/sites/PowerApps",
              "id": "@outputs('Datei_kopieren')?['body/Id']",
              "inferContentType": true
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "GetFileContent",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "Verzögerung": [
              "SUCCEEDED"
            ]
          },
          "metadata": {
            "%252fFreigegebene%2bDokumente%252fWorkFlow%2bRegieRapport%252fExcel-%25c3%259cbersicht%252fRapport-Zusammenfassung.xlsx": "/Freigegebene Dokumente/WorkFlow RegieRapport/Excel-Übersicht/Rapport-Zusammenfassung.xlsx"
          }
        },
        "Datei_löschen": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://mvmag.sharepoint.com/sites/PowerApps",
              "id": "@outputs('Datei_kopieren')?['body/Id']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "operationId": "DeleteFile",
              "connectionName": "shared_sharepointonline"
            }
          },
          "runAfter": {
            "E-Mail_senden_(V2)": [
              "Succeeded"
            ]
          }
        },
        "Verzögerung": {
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": 1,
              "unit": "Minute"
            }
          },
          "runAfter": {
            "For_each_1": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}