50.work/_review-temp/zip-beispiel-2/Workflows/07-SUB-Divershandlen-F255B6E7-9D2E-F111-88B3-7C1E5226E10F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_db7d5"
        },
        "runtimeSource": "embedded"
      },
      "shared_sharepointonline": {
        "api": {
          "name": "shared_sharepointonline"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_dcc63"
        },
        "runtimeSource": "invoker"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "SP_SiteURL (ks_SP_SiteURL)": {
          "defaultValue": "https://kosterag.sharepoint.com/sites/Subunternehmer_Sandbox",
          "type": "String",
          "metadata": {
            "schemaName": "ks_SP_SiteURL"
          }
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "description": "Please enter your input",
                  "title": "Subunternehmer ID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_1": {
                  "description": "Please enter your input",
                  "title": "Status",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter your input",
                  "title": "Dateipfad",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_3": {
                  "description": "Please enter your input",
                  "title": "EingangsID",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_a_row_by_ID_-_Subunternehmer": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "crb4b_subunternehmers",
              "recordId": "@triggerBody()?['text']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "GetItem",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {}
        },
        "List_rows_-_Auftrag": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "ks_auftrages",
              "$filter": "_ks_lookupsubunternehmer_value eq '@{outputs('Get_a_row_by_ID_-_Subunternehmer')?['body/crb4b_subunternehmerid']}' and ks_status_auftrag eq 'Offen'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          },
          "runAfter": {
            "Get_a_row_by_ID_-_Subunternehmer": [
              "Succeeded"
            ]
          }
        },
        "For_each": {
          "type": "Foreach",
          "foreach": "@outputs('List_rows_-_Auftrag')?['body/value']",
          "actions": {
            "Move_file": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "@parameters('SP_SiteURL (ks_SP_SiteURL)')",
                  "parameters/sourceFileId": "@triggerBody()?['text_2']",
                  "parameters/destinationDataset": "@parameters('SP_SiteURL (ks_SP_SiteURL)')",
                  "parameters/destinationFolderPath": "/Freigegebene Dokumente/02_Kunden/@{items('For_each')?['ks_jahr']}/@{outputs('Get_a_row_by_ID_-_Subunternehmer')?['body/crb4b_name']}",
                  "parameters/nameConflictBehavior": 2
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "operationId": "MoveFileAsync",
                  "connectionName": "shared_sharepointonline"
                }
              }
            },
            "Add_a_new_row": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ks_deklarationens",
                  "item/ks_sp_datei_name": "-",
                  "item/ks_antwort_dateiname": "@outputs('Move_file')?['body/Name']",
                  "item/ks_antwort_erwartet": false,
                  "item/ks_antwort_sp_id": "@outputs('Move_file')?['body/ItemId']",
                  "item/ks_antwort_sp_pfad": "@outputs('Move_file')?['body/Path']",
                  "item/ks_dokumententyp": "124080013",
                  "item/ks_dokumententyp_text": "Divers",
                  "item/ks_LookUpAuftrage@odata.bind": "/ks_auftrages(@{items('For_each')?['ks_auftrageid']})",
                  "item/ks_status_deklaration": "@triggerBody()?['text_1']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Move_file": [
                  "Succeeded"
                ]
              }
            },
            "Update_a_row_1": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ks_eingangsqueues",
                  "recordId": "@triggerBody()?['text_3']",
                  "item/ks_eq_status": 124080001
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps-1"
                }
              },
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "List_rows_-_Auftrag": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}